body{
    font-size: 16px;
    color: white;
    background-color:#61122f;
    font-family: 'Oxygen', sans-serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header-nav{
    background-color: indianred;
    border-radius: 0;
    border:0;
}

#log-img{
background: url('../images/restaurant-logo_large.png');
width:150px;
height:150px;
margin: 10px 15px 10px 0; 
}

.navbar-brand h1{
    text-transform:uppercase;
    color:lightgray;
}
.navbar-brand a:hover , .navbar-brand a:focus{
    text-decoration: none;
}
#nav-list{
    margin-top:  10px; 
}

#nav-list a{
    color:black;
    text-align: center;
}
#nav-list a:hover{
    background:cornsilk;
}
nav-list span{
    font-size: 1.8em;;
}
#phone{ /*phone number*/
    margin-top: 5px;
}
#phone a{
text-align: right;
padding-bottom: 0;
}
#phone div{/* we deliver*/
text-align: right;
padding-right: 15px;;
color: darkred;
}

/*styling the button */
.navbar-header button.navar-toggle .navbar-header .icon-bar{
    border: 1px solid #61122f;
}
.navbar-header button.navar-toggle {
    clear:both;
}